body
{
  background: #181928;
  color: white;
  font-family: Helvetica;
  font-size: 25px;
}
strong
{
  color: yellow;
}

div
{
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
  height: 265px;
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -100px;



}
