body
{
  background-color: green;
  color: white;
  font-family: Helvetica;
  font-size: 25px;
}
strong
{
  color: yellow;
}

div
{
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
  margin-left: 710px;
  margin-right: 710px;

}
